@import url("../../Variables.css");

.navbar {
  background-color: var(--blue);
  padding: 1rem 2rem;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-logo {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.nav-links a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #ecf0f1;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 0.5rem;
  padding: 0.5rem clamp(0.75rem, 2vw, 1.5rem);
  text-align: center;
}

.nav-links a:hover,
.nav-links a.active {
  background-color: #1f47ca;
  color: white;
  text-decoration: none;
  box-shadow: 0 0 8px 2px var(--blue);
}

.active {
  background-color: #1f47ca;
}

.content-area {
  padding: 20px;
  min-height: 100vh;
  max-width: 1500px;
  background-color: var(--white-bg);
  margin: 0 auto;
}

.footer {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.486);
  background-color: white;
  color: var(--gray);
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}

#left-side {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 796px) {
  .nav-container {
    display: inline;
  }

  .nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-links a {
    font-size: medium;
  }

  #left-side {
    display: none;
  }

  .menu-composition-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon {
    display: none;
  }
}
