@import url("../../Variables.css");

.menu-list-open {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: medium;
  color: white;
  transition: 0.5s;
  font-family: "Inter", Arial, sans-serif;
}

.menu-list-open:hover {
  color: #4574f7;
}

.menu-list {
  border-radius: 0.3rem;
  color: var(--black);
  border: 1px solid var(--blue);
}

.MuiPopper-root, .MuiList-root {
  border-radius: 0.3rem;
}

.exit-btn {
  text-align: center;
}
