.available-assets-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  color: #333;
}

.available-assets-container h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.assets-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 30px;
}