.new-summary-card {
  border: 2px solid var(--blue);
}

.new-summary-card,
.new-recent-investments-card {
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.new-summary-card h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.new-summary-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.new-info-box {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
}

.new-highlight-blue {
  background-color: var(--light-blue);
}

.new-highlight-blue p {
  color: var(--blue);
}

.new-info-box.new-highlight-green {
  background-color: #e6f9f0;
}

.new-info-box.new-highlight-green p {
  color: var(--green);
}

.new-info-box.new-highlight-purple {
  background-color: #f3eefc;
}

.new-info-box.new-highlight-purple p {
  color: var(--purple);
}

.new-info-label {
  margin: 0 0 8px 0;
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--gray);
}

.new-info-value {
  margin: 0;
  font-size: 1.6rem;
  font-weight: bold;
}

.new-total-profitability {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-bg);
}

.new-info-value-profit {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--green);
}

.new-recent-investments-card {
  min-height: 150px;
  display: flex;
  flex-direction: column;
}
.new-recent-investments-card .new-empty-message {
  margin: auto;
  color: #888;
}
